body {
  background: #666;
  color: #fff;
  font-family: arial;
  line-height: 1.4em;
}

a {
  color: rgb(248, 248, 248);
  text-decoration: none;
}

a:hover {
  background-color: rgb(197, 95, 11);
}

ul {
  padding: 0;
}

.clr {
  clear: both;
}

#container {
  background: rgba(15, 105, 207, 0.445);
  width: 960px;
  margin: 30px auto;
  overflow: hidden;
  padding: 10px;
}

#nav {
  height: 40px;
  background: rgba(153, 92, 13, 0.404);
}

#nav ul {
  padding-top: 10px;
  padding-left: 8px;
}

#nav li {
  list-style: none;
  float: left;
  padding-right: 20px;
}

#nav .active {
  font-weight: bold;
  color: rgb(252, 172, 0);
}

#main {
  float: left;
  width: 60%;
}

#sidebar {
  float: right;
  width: 30%;
  background: #666;
  margin-top: 20px;
  padding: 10px;
}

#footer {
  text-align: center;
  padding: 10px;
  background: #666;
  margin-top: 30px;
}

.opintojaksot li {
  border-bottom: 2px;
  padding-bottom: 20px;
  margin-left: 40px;
}
.opintojaksot a {
  background: rgb(238, 232, 232);
  padding: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}
